*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JGFSequentialSection1/nbproject/private/
/JGFSequentialSection2/nbproject/private/
/JGFSequentialSection3/nbproject/private/
/JGFParallelSection1/nbproject/private/
/JGFParallelSection2/nbproject/private/
/JGFParallelSection3/nbproject/private/
/JGFParallelSection1/build/
/JGFMPISection1/nbproject/private/
/JGFMPISection2/nbproject/private/
/JGFMPISection3/nbproject/private/
/JGFMPISection3/build/
/JGFSequentialSection1/build/
/JGFSequentialSection1/dist/
/JGFParallelSection2/build/
/JGFSequentialSection2/build/
/JGFSequentialSection2/dist/
/JGFSequentialSection3/build/
/JGFSequentialSection3/dist/
/JGFMPISection1/build/
/JGFMPISection2/build/
/JGFMPISection2/dist/
/JGFParallelSection2/dist/
/JGFMPISection1/dist/
/JGFTest/nbproject/private/
/JGFTest/build/
/JGFTest/dist/
/JGFParallelSection1/dist/
/JGFSequentialUtil/nbproject/private/
/JGFSequentialUtil/dist/
/JGFSequentialUtil/build/
/JGFParallelUtil/nbproject/private/
/JGFParallelUtil/build/
/JGFParallelUtil/dist/
/JGFMPIUtil/nbproject/private/
/JGFMPIUtil/dist/
/JGFMPIUtil/build/
/HPCUnit/nbproject/private/