*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JGFSequentialSection1/nbproject/private/
/JGFSequentialSection2/nbproject/private/
/JGFSequentialSection3/nbproject/private/
/JGFParallelSection1/nbproject/private/
/JGFParallelSection2/nbproject/private/
/JGFParallelSection3/nbproject/private/
/JGFMPISection1/nbproject/private/
/JGFMPISection2/nbproject/private/
/JGFMPISection3/nbproject/private/
/JGFTest/nbproject/private/
/JGFSequentialUtil/nbproject/private/
/JGFParallelUtil/nbproject/private/
/JGFMPIUtil/nbproject/private/
/HPCUnit/nbproject/private/
/GraphGenerator/nbproject/private/
